Integers

In [ ]:
int = 4
print(int)

In [ ]:
age = 20
print(age)
print(type(age))  #The type() function in Python returns the data type of the specified object.

Floats

In [ ]:
float = 2.4
print(float)

In [ ]:
grade = 4.6
print(grade)
print(type(2.2))

Boolean

In [ ]:
isEmpty = True
print(type(isEmpty))

In [ ]:
isFull = False
print(isFull)