Variables

In [ ]:
name =  "Zeeshan Ahmad"
print(name)

In [ ]:
age = 19
print(age)

In [ ]:
grade = 3.63
print(grade)

Variables Equations

In [ ]:
num1 = 34
num2 = 56
result = num1 + num2
print(result)

In [ ]:
first_Name = "Zeeshan "
second_Name = "Ahmad"

full_Name = first_Name + second_Name
print(full_Name)