# Tuples

In [ ]:
tuple = (1,2,3,'zeeshan', 3.14)
print(tuple)

In [ ]:
#Type
print(type(tuple))

Indexing

In [ ]:
print(tuple[2])

In [ ]:
print(tuple[-1]) # negative index

Concatenation

In [ ]:
tuple2 = ('ali', 27, 89)
tuple2 = tuple2+ tuple
print(tuple2)

Slicing

In [ ]:
print(tuple2[2:5])

Length of Tuple

In [ ]:
len(tuple2)

Sort

In [ ]:
tuple3 = (34,65,1,24)
print(sorted(tuple3))

Immutable

In [ ]:
tuple3[3] = 23
print(tuple3) # error

Nested Tuple

In [ ]:
tuple4 = (1,2,3,('zeeshan', 12), 4, 3.14)
print(tuple4)