In [1]:
import pandas as pd

data = pd.read_csv("Cuisine_rating.csv")

# Native accessors

In [2]:
data

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
196,197,170,"Upper West Side,NY",Female,2000,Married,Student,4,Chinese,Never,Often,1,2,1.5,No
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
198,199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

In [3]:
#Access the property of an object by accessing it as an attribute

data.Gender

0      Female
1      Female
2        Male
3      Female
4        Male
        ...
195    Female
196    Female
197    Female
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [4]:
#Access values using the indexing 

data['Gender']

0      Female
1      Female
2        Male
3      Female
4        Male
        ...
195    Female
196    Female
197    Female
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [5]:
data['Gender'][5]

'Male'

# Indexing

**Index-based selection**

In [2]:
#To select the first row of data

data.iloc[0]

User ID                            1
Area code                        153
Location          Upper East Side,NY
Gender                        Female
YOB                             2006
Marital Status                Single
Activity                Professional
Budget                             3
Cuisines                    Japanese
Alcohol                        Never
Smoker                         Never
Food Rating                        5
Service Rating                     4
Overall Rating                   4.5
Often A S                         No
Name: 0, dtype: object

In [5]:
#To get a column with iloc

data.iloc[:, 3]

0      Female
1      Female
2        Male
3      Female
4        Male
        ...
195    Female
196    Female
197    Female
198      Male
199      Male
Name: Gender, Length: 200, dtype: object

In [7]:
#to indicate a range of values

data.iloc[:5, 2]

0    Upper East Side,NY
1         St. George,NY
2    Upper West Side,NY
3    Upper East Side,NY
4       Central Park,NY
Name: Location, dtype: object

In [10]:
#to select just the second and third entries

data.iloc[1:3, 2]

1         St. George,NY
2    Upper West Side,NY
Name: Location, dtype: object

In [11]:
#to pass a list

data.iloc[[4,5,6,7], 3]

4      Male
5      Male
6    Female
7    Female
Name: Gender, dtype: object

In [12]:
# get end of the values of dataset

data.iloc[-5:]

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
195,196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
196,197,170,"Upper West Side,NY",Female,2000,Married,Student,4,Chinese,Never,Often,1,2,1.5,No
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
198,199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

**Label-based selection**

In [13]:
#to get the first entry

data.loc[0, 'Location']

'Upper East Side,NY'

In [16]:


data.loc[2:6, ['Area code', 'Location', 'YOB']]

   Area code            Location   YOB
2        122  Upper West Side,NY  1977
3        153  Upper East Side,NY  1956
4        129     Central Park,NY  1997
5        111      China Town, NY  1995
6        111      China Town, NY  1977

# Manipulating the index

In [18]:
# set_index() method : manipulate the index in any way

data.set_index('User ID')

,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
User ID,,,,,,,,,,,,,,
1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
197,170,"Upper West Side,NY",Female,2000,Married,Student,4,Chinese,Never,Often,1,2,1.5,No
198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No
200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

# Conditional selection

In [20]:
data.Gender == 'Male'

# This operation produced a Series of True/False booleans

0      False
1      False
2       True
3      False
4       True
       ...
195    False
196    False
197    False
198     True
199     True
Name: Gender, Length: 200, dtype: bool

In [21]:
#  to select the relevant data

data.loc[data.Gender == 'Male']

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No
5,6,111,"China Town, NY",Male,1995,Single,Student,5,Seafood,Never,Never,5,1,3.0,No
8,9,107,"Riverdale,NY",Male,1965,Single,Student,5,Italian,Socially,Socially,3,3,3.0,No
9,10,129,"Central Park,NY",Male,1995,Single,Student,4,Chinese,Often,Often,5,2,3.5,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,178,"China Town, NY",Male,1969,Divorced,Professional,3,French,Never,Often,3,1,2.0,No
192,193,105,"St. George,NY",Male,2000,Single,Professional,5,French,Never,Often,5,5,5.0,No
194,195,107,"China Town, NY",Male,1974,Married,Student,3,Indian,Often,Often,2,5,3.5,Yes
198,199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

In [25]:
# Use the ampersand (&) to perform element-wise logical AND

data.loc[(data.Cuisines == 'Seafood') & (data['Overall Rating'] >= 4)]

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
23,24,154,"Market City, NY",Male,1974,Divorced,Professional,1,Seafood,Socially,Often,5,5,5.0,No
29,30,154,"Market City, NY",Female,1988,Married,Student,5,Seafood,Never,Socially,4,4,4.0,No
78,79,111,"China Town, NY",Male,1965,Married,Professional,3,Seafood,Often,Often,5,5,5.0,Yes
123,124,113,"Market City, NY",Male,1974,Divorced,Professional,1,Seafood,Socially,Often,5,5,5.0,No
129,130,158,"Market City, NY",Female,1988,Married,Student,5,Seafood,Never,Socially,4,4,4.0,No
178,179,149,"China Town, NY",Male,1965,Married,Professional,3,Seafood,Often,Often,5,5,5.0,Yes

In [27]:
# Use the pipe (|) to perform element-wise logical OR

data.loc[(data.Gender == 'Seafood') | (data['Overall Rating']>= 4)]

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
12,13,123,"St. George,NY",Female,2006,Single,Professional,5,Chinese,Socially,Never,5,5,5.0,No
18,19,129,"Central Park,NY",Male,2001,Single,Student,3,Filipino,Socially,Socially,3,5,4.0,No
20,21,123,"St. George,NY",Female,2009,Single,Student,3,Indian,Socially,Often,5,3,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,185,158,"Upper East Side,NY",Female,1978,Divorced,Student,4,Chinese,Often,Often,5,5,5.0,Yes
187,188,137,"Central Park,NY",Female,2007,Single,Professional,5,French,Often,Often,5,5,5.0,Yes
188,189,154,"Upper West Side,NY",Female,2003,Married,Professional,4,French,Often,Often,5,5,5.0,Yes
189,190,167,"St. George,NY",Male,1988,Divorced,Professional,3,Indian,Often,Often,5,5,5.0,Yes
192,193,105,"St. George,NY",Male,2000,Single,Professional,5,French,Never,Often,5,5,5.0,No

In [30]:
# .isin : Select data whose value "is in" a list of values

data.loc[data.Cuisines.isin(['Indian', 'French'])]

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
6,7,111,"China Town, NY",Female,1977,Married,Professional,5,Indian,Often,Socially,1,4,2.5,No
10,11,123,"St. George,NY",Female,1975,Married,Professional,4,French,Never,Often,3,2,2.5,No
15,16,153,"Upper East Side,NY",Female,1956,Married,Student,3,French,Often,Never,4,1,2.5,No
20,21,123,"St. George,NY",Female,2009,Single,Student,3,Indian,Socially,Often,5,3,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,178,"China Town, NY",Male,1969,Divorced,Professional,3,French,Never,Often,3,1,2.0,No
192,193,105,"St. George,NY",Male,2000,Single,Professional,5,French,Never,Often,5,5,5.0,No
194,195,107,"China Town, NY",Male,1974,Married,Student,3,Indian,Often,Often,2,5,3.5,Yes
195,196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

In [32]:
# isnull & notnull

data.loc[data['Service Rating'].notnull()]

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,1.5,No
196,197,170,"Upper West Side,NY",Female,2000,Married,Student,4,Chinese,Never,Often,1,2,1.5,No
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,3.5,No
198,199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,2.5,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,2.5,No

# Assigning data