# Summary Functions
Summary functions in pandas are used to summarize and provide insights

In [2]:
import pandas as pd
data = pd.read_csv('Cuisine_rating.csv')
data.head()

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No

In [4]:
# describe() : for Numerical data

data['Food Rating'].describe()

count    200.000000
mean       3.220000
std        1.411226
min        1.000000
25%        2.000000
50%        3.000000
75%        5.000000
max        5.000000
Name: Food Rating, dtype: float64

In [5]:
# describe() : for string  data, output will be change

data.Cuisines.describe()

count          200
unique           7
top       Japanese
freq            36
Name: Cuisines, dtype: object

In [9]:
# mean()

data['Overall Rating'].mean()

np.float64(3.225)

In [10]:
#unique() : To see a list of unique values

data.Cuisines.unique()

array(['Japanese', 'Indian', 'Seafood', 'Filipino', 'Italian', 'Chinese',
       'French'], dtype=object)

In [11]:
#value_counts() : To see a list of unique values and how often they occur in the dataset

data.Cuisines.value_counts()

Cuisines
Japanese    36
French      34
Filipino    34
Indian      32
Chinese     24
Seafood     22
Italian     18
Name: count, dtype: int64

# Maps

In [14]:
# map() method : returns a new Series where all the values have been transformed

overall_rating_mean =data['Overall Rating'].mean()
data['Overall Rating'].map(lambda p: p - overall_rating_mean)

0      1.275
1     -2.225
2      1.775
3     -1.225
4     -0.225
       ...
195   -1.725
196   -1.725
197    0.275
198   -0.725
199   -0.725
Name: Overall Rating, Length: 200, dtype: float64

In [15]:
# apply() : want to transform a whole DataFrame by calling a custom method on each row

def rating(row):
    row['Overall Rating'] = row['Overall Rating'] - overall_rating_mean
    return row

data.apply(rating, axis='columns')

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,1.275,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,-2.225,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,1.775,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,-1.225,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,-0.225,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,175,"St. George,NY",Female,1982,Single,Professional,4,French,Never,Socially,1,2,-1.725,No
196,197,170,"Upper West Side,NY",Female,2000,Married,Student,4,Chinese,Never,Often,1,2,-1.725,No
197,198,160,"St. George,NY",Female,2006,Single,Professional,5,Japanese,Never,Often,5,2,0.275,No
198,199,130,"St. George,NY",Male,2002,Married,Student,3,Filipino,Never,Socially,3,2,-0.725,No
199,200,140,"Upper East Side,NY",Male,2005,Married,Student,4,French,Never,Never,3,2,-0.725,No

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on