# Creating Data

In [2]:
# import pandas
import pandas as pd

**DataFrame**

In [2]:
# Integers Dataframe
pd.DataFrame({'Yes': [12,90], 'No': [72,18]})

   Yes  No
0   12  72
1   90  18

In [4]:
#Strings DataFrame
pd.DataFrame({'Name' : ['Zeeshan', 'Ali'],
               'Gender': ['Male', 'Male']})

      Name Gender
0  Zeeshan   Male
1      Ali   Male

In [7]:
#DataFrame with Index
pd.DataFrame({'Name' : ['Zeeshan', 'Ali'],
               'Gender': ['Male', 'Male']},
                index = [1,2])

      Name Gender
1  Zeeshan   Male
2      Ali   Male

**Series**

In [8]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series([20,40,60], index=['2020 Sales', '2021 Sales', '2022 Sales'], name = 'Product A')

2020 Sales    20
2021 Sales    40
2022 Sales    60
Name: Product A, dtype: int64

# Reading Data Files

In [4]:
#reading csv files

data = pd.read_csv("Cuisine_rating.csv")

In [6]:
#shape of the data

data.shape

(200, 15)

In [7]:
# top 5 rows

data.head()

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No